.embla {
  max-width: 80%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 300px;
  --main: #f2f7f5;
  --secondaryColor: #ffa8ba;
  --tertiaryColor: #fa5246;
  --button: #faae2b;
  --colorDetails: #00332c;
  text-align: center;
}

.embla__viewport {
  overflow: hidden;
  margin-top: 48px;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__content {
  height: var(--slide-height);
  border: 3px solid var(--colorDetails);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  display: flex;
}

.embla__slide__content img {
  width: 200px;

}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(0, 51, 44, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--colorDetails);
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--colorDetails);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.embla__button:hover:not(.embla__button--disabled) {
  background-color: var(--secondaryColor);
}

.embla__button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__play {
  -webkit-tap-highlight-color: rgba(0, 51, 44, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--colorDetails);
  padding: 0 2.4rem;
  margin: 0;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorDetails);
  font-weight: 700;
  font-size: 1.4rem;
  min-height: 3.6rem;
  min-width: 9rem;
  justify-self: flex-end;
  transition: background-color 0.2s ease;
}

.embla__play:hover {
  background-color: var(--secondaryColor);
}