.container {
  width: 45%;
  margin: auto;
  text-align: center;
  padding: 48px;
}

.container h2{
  margin-bottom: 24px;
}
.carousel {
  overflow: hidden;
  width: 100%;
}

.track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
}